<!-- About section start -->
       
<section class="about about-section section  py-5" id="about">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5">About Me</h2>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-6">
            <div class="about-img">
                <div class="img-box">
                    <img src="assets/img/yasin.jpeg" cclas="outer-shadow" alt="profile-pic">
                </div>
            </div>      
           </div>
           <div class="col-md-6">
            <div class="about-text">
                <h3 class="fs-3 mb-3 py-1"> My name is <span class="text-primary">Yasin Ali khan and I am a front-end developer</span>.</h3>
                <h4 class="fs-5 mb-3 py-1">Through a lot of persistence and discipline,as a self-taught developer, I’ve acquired skills in <span class="text-danger">HTML, CSS, SASS, Javascript, Bootstrap, Angular, jQuery, Git/Github</span>.</h4>
                <h4 class="fs-5 mb-3 py-1">I am highly motivated and a fast learner, have a great passion for web development and design. Always interested in new technologies and new ways to upgrade and improve myself.</h4>
                <h4 class="fs-5 mb-3 py-1">
                    I can work on my own and try to find the best solution for the given assignment or work as a part of a team and give my best to accomplish the team goals.
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex align-items-center">
                    <a href="https://drive.google.com/file/d/1265D7SsBofcQ05agmyEeXTr8gIYqmUr1/view?usp=sharing" target="_blank" class="btn-1 outer-shadow hover-in-shadow  me-5">Download CV</a>
                    <div class="social-links">
                        <a href="https://github.com/yasinalikhan" target="_blank"  class="text-dark me-2"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/yasinalikhan" target="_blank" class="text-dark me-2"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com/YasinAl41561222?s=08" target="_blank" class="text-dark me-2"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<section class="about-section section">
    <!-- skill start-->
    <div class="container"> 
        <div class="row text-center">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5">Skills</h2>
                </div>
            </div>
        </div>      
    <div class="row">
        <div class="skills">
           <div class="row">
              <!-- skill item start -->
               <div class="skill-item">
                   <p>Html</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(95% - 14px)">
                           <span>95%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
                <!-- skill item start -->
                <div class="skill-item">
                    <p>Css</p>
                    <div class="progress inner-shadow">
                        <div class="progress-bar" style="width: calc(80% - 14px)">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <!-- skill item end -->
                <!-- skill item start -->
                <div class="skill-item">
                    <p>Sass</p>
                    <div class="progress inner-shadow">
                        <div class="progress-bar" style="width: calc(85% - 14px)">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <!-- skill item end -->
                 <!-- skill item start -->
               <div class="skill-item">
                <p>Bootstrap</p>
                <div class="progress inner-shadow">
                    <div class="progress-bar" style="width: calc(75% - 14px)">
                        <span>75%</span>
                    </div>
                </div>
            </div>
            <!-- skill item end -->
               <!-- skill item start -->
               <div class="skill-item">
                   <p>Javascript</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(70% - 14px)">
                           <span>70%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
                <!-- skill item start -->
               <div class="skill-item">
                   <p>angular</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(65% - 14px)">
                           <span>65%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
               <!-- skill item start -->
               <div class="skill-item">
                   <p>Jquery</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(75% - 14px)">
                           <span>75%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
               
                <!-- skill item start -->
               <div class="skill-item">
                   <p>Git</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(60% - 14px)">
                           <span>60%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
              
                <!-- skill item start -->
               <div class="skill-item">
                   <p>Github</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(65% - 14px)">
                           <span>65%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
               <!-- skill item start -->
               <div class="skill-item">
                   <p>Npm</p>
                   <div class="progress inner-shadow">
                       <div class="progress-bar" style="width: calc(60% - 14px)">
                           <span>60%</span>
                       </div>
                   </div>
               </div>
               <!-- skill item end -->
           </div>
            
        </div>
    </div>
  <!-- skill end-->
  <!-- <app-skill></app-skill> -->
   <!-- service section start -->
 <section class="service py-5" id="service">
    <div class="container-lg py-4">
       <div class="row justify-content-center">
          <div class="col-lg-8">
             <div class="section-title text-center">
                <h2 class="fw-bold mb-5">What I do</h2>
             </div>
          </div>
       </div>
       <div class="row text-center">
          <div class="col-md-6 col-lg-4 mb-4">
             <div class="service-item shadow-sm p-4 rounded bg-white">
                <div class="icon my-3 text-danger fs-2">
                   <i class="fa fa-code"></i>
                </div>
                <h3 class="fs-5 py-2">Bug Fixing</h3>
                <p class="text-muted">I will do any kind of bug fixing for your prebuild HTML website</p>
             </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
             <div class="service-item shadow-sm p-4 rounded bg-white">
                <div class="icon my-3 text-danger fs-2">
                   <i class="fa fa-book"></i>
                </div>
                <h3 class="fs-5 py-2">Full Site Creation</h3>
                <p class="text-muted">I will create any kind of Fully Responsive Website for your buisness</p>
             </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
             <div class="service-item shadow-sm p-4 rounded bg-white">
                <div class="icon my-3 text-danger fs-2">
                   <i class="fa fa-image"></i>
                </div>
                <h3 class="fs-5 py-2">Customization</h3>
                <p class="text-muted">I will do any customization for your prebuild HTML website</p>
             </div>
          </div>
       </div>
    </div>
 </section>

<!-- service section end -->
    <!--education start-->
    <div class="row text-center education">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2 class="fw-bold mb-5">Education</h2>
            </div>
        </div>
    </div>  
    
    <div class="row">
        <div class="education">
            <div class="row">
                <div class="timeline">
                    <div class="row">
                        <!-- timeline item start -->
                           <div class="timeline-item">
                               <div class="timeline-item-inner outer-shadow">
                                   <i class="fa fa-graduation-cap icon"></i>
                                   <span>July,2017 - June,2019</span>
                                   <h3>Master of technology</h3>
                                   <p>Aliah University, Newtown Kolkata</p>
                               </div>
                           </div>
                        <!-- timeline item end -->
                           <!-- timeline item start -->
                           <div class="timeline-item">
                               <div class="timeline-item-inner outer-shadow">
                                   <i class="fa fa-graduation-cap icon"></i>
                                   <span>July,2012 - june,2017</span>
                                   <h3>Master of Computer Application</h3>
                                   <p>Aliah University, Newtown Kolkata</p>
                               </div>
                           </div>
                        <!-- timeline item end -->
                           <!-- timeline item start -->
                           <div class="timeline-item">
                               <div class="timeline-item-inner outer-shadow">
                                   <i class="fa fa-graduation-cap icon"></i>
                                   <span>June,2009 - March,2011</span>
                                   <h3>Higher Secondary</h3>
                                   <p>West Bengal Bord of Council of higher education</p>
                               </div>
                           </div>
                        <!-- timeline item end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  <!--education end-->

</div> 

</section>

<!-- About section end -->
