 <!-- contact section start-->
 <section class="contact py-5" id="contact">
    <div class="container-lg py-4">
       <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="fw-bold mb-5">Contact Me</h2>
          </div>
       </div>
       <div class="row">
          <div class="col-md-5">
             <div class="contact-item d-flex mb-3">
                <div class="icon fs-4 text-danger">
                   <i class="fa fa-envelope"></i>
                </div>
                <div class="text ms-3">
                   <h3 class="fs-5">Email</h3>
                   <p class="text-muted">yasinalikhan55@gmail.com</p>
                </div>
             </div>
             <div class="contact-item d-flex mb-3">
                <div class="icon fs-4 text-danger">
                   <i class="fa fa-phone"></i>
                </div>
                <div class="text ms-3">
                   <h3 class="fs-5">Phone</h3>
                   <p class="text-muted">7001322518 / 7699704618</p>
                </div>
             </div>
             <div class="contact-item d-flex mb-3">
                <div class="icon fs-4 text-danger">
                   <i class="fa fa-map-marker"></i>
                </div>
                <div class="text ms-3">
                   <h3 class="fs-5">Address</h3>
                   <p class="text-muted">Aniya, Hooghly, West Bengal - 712706</p>
                </div>
             </div>
          </div>
          <div class="col-md-7">
             <div class="contact-form">
                <form action="">
                   <div class="row">
                      <div class="col-lg-6 mb-4">
                         <input type="text" placeholder="Your Name" class="form-control form-control-lg fs-6 border-0 shadow-sm">
                      </div>
                      <div class="col-lg-6 mb-4">
                          <input type="text" placeholder="Your email" class="form-control form-control-lg fs-6 border-0 shadow-sm">
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-lg-12 mb-4">
                          <input type="text" placeholder="Subject" class="form-control form-control-lg fs-6 border-0 shadow-sm">
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-lg-12 mb-4">
                          <textarea type="text" rows="5" placeholder="Your Message" class="form-control form-control-lg fs-6 border-0 shadow-sm"></textarea>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-lg-12">
                         <button type="submit" class="btn btn-danger">Send Mmessage</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>
<!-- contact section end-->
