<div class="row home">
   <!-- effect warp start--->
   <div class="effect-wrap">
      <div class="effect effect-1"></div>
      <div class="effect effect-2">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
      <div class="effect effect-3"></div>
      <div class="effect effect-4"></div>
      <div class="effect effect-5">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>
  <!-- effect warp end--->
  <div class="col-md-6">
   <div class="home-img">
       <div class="img-box">
           <img src="assets/img/yasinkhan.png" class="outer-shadow" alt="profile-pic">
       </div>
   </div>
</div>
    <div class="col-md-6">
                <div class="home-text">
                    <p>Hi,</p> 
                    <h2>My Name is Yasin Ali Khan</h2>
                    <h3>I'm Frontend Developer</h3>
                    <h1>& Web Designer</h1>
                    <a (click)="aboutme()" class="btn-1 outer-shadow hover-in-shadow mb-4">More About Me</a>
                    <div class="social-links">
                        <a href="https://github.com/yasinalikhan" target="_blank"  class="text-dark me-2"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/yasinalikhan" target="_blank" class="text-dark me-2"><i class="fa fa-linkedin"></i></a>
                        <a href="https://twitter.com/YasinAl41561222?s=08" target="_blank" class="text-dark me-2"><i class="fa fa-twitter"></i></a>
                   </div>
                </div>
     </div>
   
</div> 
<app-about></app-about>

 <!-- portfolio section start -->
 <section class="portfolio bg-white py-5" id="portfolio">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
          <div class="col-lg-8">
             <div class="section-title text-center">
                <h2 class="fw-bold mb-5">Latest Works</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/quiz_app.png" class="w-100 img-thumbanial" alt="assets/portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Quiz App</h3>
                <span class="mb-4"><a href="http://random-quiz-app.herokuapp.com/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="https://github.com/yasinalikhan/quiz_app/tree/master" target="_blank" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
           <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/meal-search_api.png" class="w-100 img-thumbanial" alt="portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Meal Search App</h3>
                <span class="mb-4"><a href="https://cranky-mccarthy-38b031.netlify.app/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="https://github.com/yasinalikhan/meal_search_api/tree/master" target="_blank" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
           <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/portfolio-angular.png" class="w-100 img-thumbanial" alt="portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Portfolio - Angular app</h3>
                <span class="mb-4"><a href="https://yasinalikhan.github.io/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="#" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
           <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/jokess.png" class="w-100 img-thumbanial" alt="portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Jokes app</h3>
                <span class="mb-4"><a href="https://competent-joliot-303de8.netlify.app/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="https://github.com/yasinalikhan/jokes_api_app/tree/master" target="_blank" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
           <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/portfolio_two-bootstrap5.png" class="w-100 img-thumbanial" alt="portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Portfolio two - Bootstrap 5</h3>
                <span class="mb-4"><a href="http://yasinalikhan.herokuapp.com/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="https://github.com/yasinalikhan/personal_portfolio" target="_blank" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
             <div class="portfolio-item">
                <img src="assets/img/portfolio/thumb/natours.png" class="w-100 img-thumbanial" alt="portfolio item">
                <h3 class="text-capitalize fs-5 my-2">Natours Website</h3>
                <span class="mb-4"><a href="https://nature-lover.herokuapp.com/" target="_blank" class="text-danger text-decoration-none">Live Demo</a></span>
                <span class="mb-4 ms-5"><a href="https://github.com/yasinalikhan/Natours-Project-using-Advanced-Css-and-Sass" target="_blank" class="text-danger text-decoration-none">See Code</a></span>
             </div>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-5"></div>
       <div class="col-md-2 text-center">
         <a class="btn-2" (click)="project()"><h3>Explore</h3></a>
       </div>
       <div class="col-md-5"></div>
    </div>
 </section>

<!-- portfolio section end -->
<app-contact></app-contact>
